.calender-input-field {
  display: inline-block;
}

.arrow {
  display: inline-flex;
	font-size: 0; /* remove space between input and button div */
	width: 15px;
	height: 15px;
	margin: 2px;
}

.img_cal {
	fill: navy;
	width: 21px;
	height: 21px;
}

.selected-date {
	color: black;
	background-color: #B0C4DE;
}

.input-field {
    display: inline-block;
    width: 140px;
}

.input-field-box {
  display: inline-block;
	height: 21px;
  width: 140px;
}

/* Popup container */
.field-component {
  display: inline-flex;
	font-size: 0; /* remove space between input and button div */
}

.button-open {
  display: inline-block;
  cursor: pointer;
	background-color: navy;
	height: 21px;
	width: 21px;
}

.calender {
	position: absolute;
	width: 160px;
	z-index: 10;
	background-color: white;
	border: solid 1px black;
}

.calender-show {
	visibility: visible;
}

.control {
  display: inline-flex;
	width: 160px;
}

.button-next {
  display: inline-block;
  cursor: pointer;
}

.button-prev {
  display: inline-block;
  cursor: pointer;
}

.main {
	width: 160px;
}

.header {
	width: 160px;
}

.hcell {
  display: inline-block;
	width: 20px;
	text-align: center;
	padding: 1px;
}

.row {
}

.rcell {
  display: inline-block;
	width: 20px;
	text-align: center;
	padding: 1px;
  cursor: pointer;
}

.rcell:hover {
	background-color: gray;
}

.off {
	color: red;
}

.not-this-month {
	opacity: 0.3;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}


